.comparison-table {
    width: 100%;
    font-size: .875rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.comparison-table table {
    min-width: 41rem;
    table-layout: fixed;
}

.comparison-table table tbody+tbody {
    border-top-width: 1px
}

.comparison-table .table-bordered thead td {
    border-bottom-width: 1px
}

.comparison-table .comparison-item {
    position: relative;
    padding: .875rem .75rem 1.125rem;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    text-align: center
}

.comparison-table .comparison-item .comparison-item-thumb {
    display: block;
    width: 5rem;
    margin-right: auto;
    margin-bottom: .75rem;
    margin-left: auto
}

.comparison-table .comparison-item .comparison-item-thumb>img {
    display: block;
    width: 100%
}

.comparison-table .comparison-item .comparison-item-title {
    display: block;
    width: 100%;
    margin-bottom: 14px;
    color: #222;
    font-weight: 600;
    text-decoration: none
}

.comparison-table .comparison-item .comparison-item-title:hover {
    text-decoration: underline
}

.comparison-table .comparison-item .btn {
    margin: 0
}

.comparison-table .comparison-item .remove-item {
    display: block;
    position: absolute;
    top: -.3125rem;
    right: -.3125rem;
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
    background-color: #423d3d;
    color: #fff;
    text-align: center;
    cursor: pointer
}

.comparison-table .comparison-item .remove-item .feather {
    width: 14px;
    height: 21px;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #e7e7e7;
}
.bg-secondary {
    background-color: #f7f7f7 !important;
}
a.add-to-cart{
    margin: 5px 0;
    color: #FFF !important;
    background: #878787;
    border-radius: 1.25pc;
    border: 1px solid #ddd;
    font-size: 14px;
}

a.add-to-cart:hover{
    background: #343434;
    border: 1px solid #ddd;
}
table.table-bordered td,
table.table-bordered th {
    vertical-align: middle;
}
table.table-bordered tbody tr td {
    text-align: center;
}
td.product-price span{
    font-size: 16px;
    font-weight: 700;
}
.btn-dashed{
    background-color: #f7f7f7 ;
    border: 2px dashed #878787;
    color:#878787;
    font-size: 14px;
}
.btn-dashed:hover{
    background-color: #e8e7e7 ;
    border: 2px dashed #878787;
    color:#878787;
}